<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav'); %>
    <main role="main">
        <%- include('partials/jumbotron'); %>
        <div class="container">
            <h5>About page details go here</h5>
            <hr/>
        </div>
        <!-- /container-->
    </main><br>
    <%- include('partials/footer'); %>
</body>
</html>