<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav'); %>
    <main role="main">
        <%- include('partials/jumbotron'); %>
        <div class="container">
            <h2 class="page-header">Create Blog</h2>
            <p>Please enter the details below/p>
            <form method="post" action="/blogs/blog/create">
                <div class="form-group">
                    <label>Blog Title</label>
                    <input class="form-control" name="blog-title" type="text" placeholder="Enter Title" />
                </div>
                <div class="form-group">
                    <label>Blog Body</label>
                    <input class="form-control" name="blog-body" type="text" placeholder="Enter Body" />
                </div>
                <input class="btn btn-primary" type="submit" name="submit" value="Save" />
            </form>
        </div>
        <!-- /container-->
    </main><br>
    <%- include('partials/footer'); %>
</body>

</html>