<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav'); %>
    <main role="main">
        <%- include('partials/jumbotron'); %>
        <div class="container">
            <h2 class="page-header">Login</h2>
            <p>Please login below</p>
            <form method="post" action="/users/login">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="username" type="text" placeholder="Enter Username" />
                    <br />
                    <label>Password</label>
                    <input class="form-control" name="password" type="password" placeholder="Enter Password" />
                    <br />
                    <input class="btn btn-primary" type="submit" name="submit" value="Login" />
                </div>
            </form>
        </div>
        <!-- /container-->
    </main><br>
    <%- include('partials/footer'); %>
</body>

</html>